@import "./theme.scss";

$regularFontWeight: 400;

html, body, #app {
	height: 100vh;
	width: 100%;
	margin: 0;

	touch-action: none;
	user-select: none;
}

@font-face {
	font-family: Inter;
	src: url(./assets/Inter-VariableFont.ttf);
}

input[type=range]::-webkit-slider-thumb {
	background: var(--el-color-primary);
}

#app {
	margin: 0;

	font-family: Inter;
	font-weight: $regularFontWeight;
	font-size: 14px;

	background: #ffffff;

	overflow-y: auto;

	.spinner {
		height: 1em;
		width: 1em;

		animation: rotation 2s infinite linear;
	}

	@keyframes rotation {
		from { transform: rotate(0deg); }
		to   { transform: rotate(359deg); }
	}

	.title {
		margin-bottom: 0.5em;

		font-size: 1.5em;
	}

	.page-header {
		justify-content: end;
		gap: 1em;

		margin: 1em 0;

		.el-alert {
			flex: 1;

			height: 32px;
		}

		.el-menu-item {
			svg {
				fill: var(--el-color-primary) !important;
			}
		}
	}

	.el-main {
		display: flex;
		flex-direction: column;

		.grid {
			.el-col {
				padding: 0.5em;

				.el-card {
					height: 100%;
				}
			}

		}

		.no-content {
			align-self: center !important;

			margin: 1em 0;
		}

		.timeline {
			max-height: 100%;

			overflow-y: auto;
		}
	}

	// element plus overrides
	.el-row {
		width: 100%;
	}

	.el-text {
		display: flex;
		align-items: center;
		gap: 12px;
		align-self: start;

		svg {
			height: 1em;
			width: 1em;

			fill: var(--el-color-primary);
		}
	}

	.el-button {
		width: 9em;

		svg {
			height: 1em;
			margin-right: 7px;

			fill: var(--el-fill-color);
		}
	}

	.el-step {
		.el-step__head {
			color: #fff;
			border: none;

			.el-step__icon {
				background: 30080007b;

			}
		}
		.el-step__main {
			.el-step__title {
				font-weight: $regularFontWeight;
				font-size: 1em;
			}
		}
	}

	.el-slider {
		width: 90%;
		margin: 0 1em;
	}

	.el-tabs {
		.el-tabs__item {
			color: var(--el-text-color-regular);
			font-weight: $regularFontWeight;
		}
	}

	.el-divider--horizontal {
		margin: 1em 0;

		border-top: 1px #FFFFFF solid;
	}

	.el-card {
		.el-card__header {
			.el-text {
				flex: 1;
			}

			.el-tag {
				margin-right: 7px;
			}
		}

		.el-card__body {
			padding: 0.5em;
		}
	}

	.el-collapse {
		margin: 0 0.5em;
		.el-collapse-item {

			// border-top: 1px var(--el-border-color) solid;
			// border-bottom: 1px var(--el-border-color) solid;

			&:first-child {
				border-top: none;
			}
			&:last-child {
				border-bottom: none;
			}

			.el-collapse-item__header {
				display: flex;

				font-family: Inter;
				font-weight: $regularFontWeight;
			}
		}
	}

	.el-timeline {
		.el-timeline-item {
			&:last-child {
				padding-bottom: 0;
			}
		}
	}
}

