@import "./theme.scss";

html, body, #app {
	height: 100vh;
	width: 100%;
	margin: 0;

	touch-action: none;
	user-select: none;
}

@font-face {
	font-family: Inter;
	src: url(./assets/Inter-VariableFont.ttf);
}

input[type=range]::-webkit-slider-thumb {
	background: var(--el-color-primary);
}

#app {
	margin: 0;

	font-family: Inter;
	font-weight: $regularFontWeight;
	font-size: 14px;

	background: var(--el-fill-color);

	overflow-y: auto;

	.el-header {
		display: flex;
		align-items: center;
		gap: 1em;

		padding: 1em;

		border-bottom: 1px solid var(--el-bg-color);

		svg {
			height: 1.5em;

			fill: var(--el-color-primary);

			cursor: pointer;
		}
	}

	.loading {
		justify-content: center;
		align-self: center !important;

		margin-top: 3em;
	}

	.spinner {
		height: 1em;
		width: 1em;

		animation: rotation 2s infinite linear;
	}

	@keyframes rotation {
		from { transform: rotate(0deg); }
		to   { transform: rotate(359deg); }
	}

	.title {
		margin-bottom: 0.5em;

		font-size: 1.5em;
	}

	.page-header {
		justify-content: end;
		gap: 1em;

		margin: 1em 0;

		.el-alert {
			flex: 1;

			height: 32px;
			min-width: 350px;
		}
	}

	.el-main {
		display: flex;
		flex: 1;

		padding: 1em;

		.grid {
			.el-col {
				padding: 0.5em;

				.el-card {
					height: 100%;
				}
			}

		}

		.no-content {
			align-self: center !important;

			margin: 1em 0;
		}

		.timeline {
			max-height: 100%;

			overflow-y: auto;
		}

		.complex-form-item {
			.el-form-item__content {
				display: flex;
				flex-direction: column;
				gap: 1em !important;

				.el-input-group__prepend {
					padding: 0;
					width: 80%;

					.el-select {
						margin: 0;
						width: 50%;

						&:last-child {
							.el-select__wrapper {
								border-radius: 0;
							}
						}
					}
				}

				.el-button {
					margin-left: auto;
				}
			}
		}

		.select-with-button {
			.el-select {
				flex: 1;

				.el-select__wrapper {
					border-right: 0;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
			}

			.el-button {
				width: 3em !important;
				margin: 0;

				border-left: 0;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;

				svg {
					margin: 0;
					fill: var(--el-color-danger);
				}
			}
		}

		.el-tag {
			&.soil-moisture {
				color: var(--soil-moisture);
				border-color: var(--soil-moisture);
			}
			&.soil-temperature {
				color: var(--soil-temperature);
				border-color: var(--soil-temperature);
			}
			&.humidity {
				color: var(--humidity);
				border-color: var(--humidity);
			}
			&.temperature {
				color: var(--temperature);
				border-color: var(--temperature);
			}
			&.light-intensity {
				color: var(--light-intensity);
				border-color: var(--light-intensity);
			}
			&.barometric-pressure {
				color: var(--barometric-pressure);
				border-color: var(--barometric-pressure);
			}
			&.co2 {
				color: var(--co2);
				border-color: var(--co2);
			}
			&.action {
				color: var(--action);
				border-color: var(--action);
			}
			&.event {
				color: var(--event);
				border-color: var(--event);
			}
		}
	}

	// element plus overrides
	.el-aside {
		position: absolute;
		flex: 1;

		height: 100%;

		background-color: var(--el-fill-color);
		border-right: 1px solid var(--el-bg-color);

		z-index: 1000;

		animation: "slide-fade";

		svg {
			height: 1.3em;

			fill: var(--el-color-primary);
			cursor: pointer;
		}

		.aside-header {
			padding: 1em;
		}

		.el-menu {
			border: none;
		}
	}

	.el-row {
		width: 100%;
	}

	.el-text {
		display: flex;
		align-items: center;
		gap: 12px;
		align-self: start;

		svg {
			height: 1em;
			width: 1em;

			fill: var(--el-color-primary);
		}
	}

	.el-button {
		width: 9em;

		svg {
			height: 1em;
			margin-right: 7px;

			fill: var(--el-color-primary);
		}

		&.el-button--primary {
			svg {
				fill: var(--el-fill-color);
			}
		}
	}

	.el-step {
		.el-step__head {
			color: var(--el-fill-color);
			border: none;

			.el-step__icon {
				background: 30080007b;
			}
		}

		.el-step__main {
			.el-step__title {
				font-weight: $regularFontWeight;
				font-size: 1em;
			}
		}
	}

	.el-slider {
		width: 100%;
		margin: 0 1em;
	}

	.el-tabs {
		.el-tabs__item {
			color: var(--el-text-color-regular);
			font-weight: $regularFontWeight;
		}
	}

	.el-divider--horizontal {
		margin: 1em 0;

		border-top: 1px var(--el-bg-color) solid;
	}

	.el-card {
		.el-card__header {
			.el-text {
				flex: 1;
			}

			.el-tag {
				margin-right: 7px;
			}
		}

		.el-card__body {
			padding: 0.5em;
		}
	}

	.el-collapse {
		.el-collapse-item {
			&:last-child {
				.el-collapse-item__header {
					&:not(.is-active) {
						border-bottom: none;
					}
				}
			}

			.el-collapse-item__header {
				display: flex;

				padding: 0 1em;

				border-bottom: 1px solid var(--el-bg-color);

				font-family: Inter;
				font-weight: $regularFontWeight;
			}

			.el-collapse-item__content {
				padding: 1em;
			}
		}
	}

	.el-timeline {
		.el-timeline-item {
			&:last-child {
				padding-bottom: 0;
			}
		}
	}

	.el-input-group__prepend{
		background-color: var(--el-color-bg);
	}

	.el-input-group__append {
		padding: 0;
		width: 3em;

		background-color: var(--el-color-bg);

		color: var(--el-fill-color);

		.el-button {
			width: 100%;
			margin: 0;

			svg {
				margin: 0;
				fill: var(--el-color-danger);
			}
		}
	}
}
