$primary: #236f23;
$bg: #ffffff;
$accent: #e9bb72;
$regularFontWeight: 400;

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
	$colors: (
		'white': #FFFFFF,
		'black': #000000,
		'primary': (
			'base': $primary,
		),
	),
	$bg-color: (
		'': $accent,
	),
	$fill-color: (
		'': $bg,
		'blank': $bg,
	),
	$border-color: (
		'': $accent,
		'light': $accent,
	),
	$text-color: (
		'primary': $primary,
		'regular': $primary,
	),
	$menu:   (
		'active-color': $accent,
		'text-color': $bg,
		'hover-text-color': $primary,
		'bg-color': $bg,
		'hover-bg-color': $accent,
		'border-color': $accent,
	),
	$collapse: (
		'border-color': $bg,
		'header-bg-color': $bg,
		'header-text-color': $primary,
		'header-font-size': 14px,
		'content-bg-color': $bg,
		'content-font-size': 14px,
		'content-text-color': $primary,
	),
	$card: (
		'border-color': $accent,
		'border-radius': 4px,
		'padding': 10px,
		'bg-color': $bg,
	),
);

@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

@use "element-plus/theme-chalk/src/index.scss" as *;

:root {
	--soil-moisture: #2053f9;
	--soil-temperature: #90441b;
	--humidity: #e669ff;
	--temperature: #ff0000;
	--light-intensity: #ff8c2e;
	--barometric-pressure: #8dfa6c;
	--co2: #355054;
	--action: #dc489e;
	--event: #328e95;
}
