<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ioPear</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<!-- <link rel="stylesheet" href="../static/styles.css"> -->
</head>
<body>
	<h1>Get Started with ioPear</h1>
	<h3>Connect Your Device to Wi-Fi</h1>
	<form method="POST">
		<label for="ssid">Wi-Fi Network (SSID):</label>
		<input type="text" id="ssid" name="ssid" required>

		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required>

		<button type="submit">Connect</button>
	</form>
</body>
</html>
